@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


// Fonts
$font: 'Poppins', sans-serif;

// Colors
$primary: hsl(171, 100%, 41%);
$link: hsl(217, 71%, 53%);
$info: hsl(204, 86%, 53%);
$success: hsl(141, 53%, 53%);
$warning: hsl(48, 100%, 67%);
$danger: hsl(348, 100%, 61%);

$white: hsl(0, 0%, 100%);
$white-ter: hsl(0, 0%, 96%);
$grey-lighter: hsl(0, 0%, 86%);
$grey-light: hsl(0, 0%, 71%);
$grey: hsl(0, 0%, 48%);
$grey-dark: hsl(0, 0%, 29%);
$grey-darker: hsl(0, 0%, 21%);
$black-ter: hsl(0, 0%, 14%);
$black: hsl(0, 0%, 4%);

// Border-Radius-Level
$border-radius-none: 0;
$border-radius-level-1: 8px;
$border-radius-level-2: 12px;
$border-radius-level-3: 16px;
$border-radius-level-4: 20px;
$border-radius-level-5: 50%;
$border-radius-level-6: 100%;

// General
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

body {
    font-family: $font;
}

// Text
p, a, h1, h4, h5, h6 {
    font-size: 1rem;
    color: $grey-darker;
}

// Forms
.input, .textarea {
    width: 100%;
    height: 4em;
    outline: none;
    border: 2px solid $grey-lighter;
    border-radius: $border-radius-level-2;
    padding-left: 0.75em;
    color: $grey;
    font-size: 1rem;
    font-family: $font;

    // Pseudo Classes
    &::placeholder {
        font-family: $font;
    }

    &:focus {
        border: 2px solid $primary;
    }

    // Element sizes
    &.small {
        height: 2em;
        font-size: 0.75rem;
        border-radius: $border-radius-level-1;
    }

    &.medium {
        height: 4em;
        font-size: 1rem;
        border-radius: $border-radius-level-2;
    }

    &.large {
        height: 4.25em;
        font-size: 1.25rem;
        border-radius: $border-radius-level-3;
    }
}

.textarea {
    min-height: 4em;
    height: 12em;
    padding-top: 1em;
    resize: vertical;
    font-size: 1rem;

    // Element sizes
    &.small {
        min-height: 2em;
        height: 6em;
        font-size: 0.75rem;
    }

    &.medium {
        min-height: 4em;
        height: 12em;
        font-size: 1rem;
    }

    &.large {
        min-height: 4.25em;
        height: 16em;
        font-size: 1.25rem;
    }

    // Resize
    &.resize-none {
        resize: none;
    }
    
    &.resize-horizontal {
        resize: horizontal;
    }
    
    &.resize-vertical {
        resize: vertical;
    }
}

.checkbox {
    width: 1.5em;
    height: 1.5em;
}

// Buttons
.button {
    width: 100%;
    height: 4em;
    outline: none;
    border: none;
    border-radius: $border-radius-level-2;
    background-color: $primary;
    color: $white;
    font-size: 1rem;

    transition: all 200ms;

    // Pseudo Classes
    &:hover, &:focus {
        filter: brightness(95%);
    }

    // Element sizes
    &.small {
        height: 2em;
        font-size: 0.75rem;
        border-radius: $border-radius-level-1;
    }

    &.medium {
        height: 4em;
        font-size: 1rem;
        border-radius: $border-radius-level-2;
    }

    &.large {
        height: 4.25em;
        font-size: 1.25rem;
        border-radius: $border-radius-level-3;
    }
}

// Font-Size
.size-1 { font-size: 3rem; }
.size-2 { font-size: 2.5rem; }
.size-3 { font-size: 2rem; }
.size-4 { font-size: 1.5rem; }
.size-5 { font-size: 1.25rem; }
.size-6 { font-size: 1rem; }
.size-7 { font-size: 0.75rem; }

// Font-Weight
.weight-light { font-weight: 300; }
.weight-normal { font-weight: 400; }
.weight-medium { font-weight: 500; }
.weight-semi-bold { font-weight: 600; }
.weight-bold { font-weight: 700; }

// Text-Transformation
.capitalize { text-transform: capitalize; }
.lowercase { text-transform: lowercase; }
.uppercase { text-transform: uppercase; }
.italic { text-transform: italic; }
.underline { text-decoration: underline; }
.justify { text-align: justify; }

// Text-Alignment
.align-centered { text-align: center; }
.align-left { text-align: left; }
.align-right { text-align: right; }

// Text-Colors
.color-primary { color: $primary; }
.color-link { color: $link; }
.color-info { color: $info; }
.color-success { color: $success; }
.color-warning { color: $warning; }
.color-danger { color: $danger; }

.color-white { color: $white; }
.color-white-ter { color: $white-ter; }
.color-grey-lighter { color: $grey-lighter; }
.color-grey-light { color: $grey-light; }
.color-grey { color: $grey; }
.color-grey-dark { color: $grey-dark; }
.color-grey-darker { color: $grey-darker; }
.color-black-ter { color: $black-ter; }
.color-black { color: $black; }

// Background-Colors
.bg-color-white { background-color: $white; }
.bg-color-black { background-color: $black; }
.bg-color-primary { background-color: $primary; }
.bg-color-link { background-color: $link; }
.bg-color-info { background-color: $info; }
.bg-color-success { background-color: $success; }
.bg-color-warning { background-color: $warning; }
.bg-color-danger { background-color: $danger; }

.bg-color-white { color: $white; }
.bg-color-white-ter { color: $white-ter; }
.bg-color-grey-lighter { color: $grey-lighter; }
.bg-color-grey-light { color: $grey-light; }
.bg-color-grey { color: $grey; }
.bg-color-grey-dark { color: $grey-dark; }
.bg-color-grey-darker { color: $grey-darker; }
.bg-color-black-ter { color: $black-ter; }
.bg-color-black { color: $black; }

// Flexbox
.flex-row { flex-direction: row; }
.flex-row-reverse { flex-direction: row-reverse; }
.flex-column { flex-direction: column; }
.flex-column-reverse { flex-direction: column-reverse; }

.flex-nowrap { flex-wrap: nowrap; }
.flex-wrap { flex-wrap: wrap; }
.flex-wrap-reverse { flex-wrap: wrap-reverse; }

.flex-justify-flex-start { justify-content: flex-start; }
.flex-justify-flex-end { justify-content: flex-end; }
.flex-justify-center { justify-content: center; }
.flex-justify-space-between { justify-content: space-between; }
.flex-justify-space-around { justify-content: space-around; }
.flex-justify-start { justify-content: start; }
.flex-justify-end { justify-content: end; }
.flex-justify-left { justify-content: left; }
.flex-justify-right { justify-content: right; }

.flex-align-flex-start { align-items: flex-start; }
.flex-align-flex-end { align-items: flex-end; }
.flex-align-center { align-items: center; }
.flex-align-space-between { align-items: space-between; }
.flex-align-space-around { align-items: space-around; }
.flex-align-start { align-items: start; }
.flex-align-end { align-items: end; }
.flex-align-strech { align-items: stretch; }
.flex-align-baseline { align-items: baseline; }

.flex-content-strech { align-content: stretch; }
.flex-content-flex-start { align-content: flex-start; }
.flex-content-flex-end { align-content: flex-end; }
.flex-content-center { align-content: center; }
.flex-content-baseline { align-content: baseline; }

.flex-align-self-auto { align-self: auto; }
.flex-align-self-flex-start { align-self: flex-start; }
.flex-align-self-flex-end { align-self: flex-end; }
.flex-align-self-center { align-self: center; }
.flex-align-self-baseline { align-self: baseline; }
.flex-align-self-stretch { align-self: stretch; }

.flex-grow-0 { flex-grow: 0; }
.flex-grow-1 { flex-grow: 1; }
.flex-grow-2 { flex-grow: 2; }
.flex-grow-3 { flex-grow: 3; }
.flex-grow-4 { flex-grow: 4; }
.flex-grow-5 { flex-grow: 5; }

.flex-shrink-0 { flex-shrink: 0; }
.flex-shrink-1 { flex-shrink: 1; }
.flex-shrink-2 { flex-shrink: 2; }
.flex-shrink-3 { flex-shrink: 3; }
.flex-shrink-4 { flex-shrink: 4; }
.flex-shrink-5 { flex-shrink: 5; }

// Display
.flex { display: flex; }
.block { display: block;}
.inline { display: inline }
.inline-block { display: inline; }
.inline-flex { display: inline-flex; }
.none { display: none; }

// Margin
.margin-1 { margin: 1em; }
.margin-2 { margin: 1.5em; }
.margin-3 { margin: 2em; }
.margin-4 { margin: 2.5em; }
.margin-5 { margin: 3em; }
.margin-6 { margin: 3.5em; }
.margin-7 { margin: 4em; }
.margin-8 { margin: 4.5em; }
.margin-9 { margin: 5em; }
.margin-auto { margin: auto; }

.margin-top-1 { margin-top: 1em; }
.margin-top-2 { margin-top: 1.5em; }
.margin-top-3 { margin-top: 2em; }
.margin-top-4 { margin-top: 2.5em; }
.margin-top-5 { margin-top: 3em; }
.margin-top-6 { margin-top: 3.5em; }
.margin-top-7 { margin-top: 4em; }
.margin-top-8 { margin-top: 4.5em; }
.margin-top-9 { margin-top: 5em; }
.margin-top-auto { margin-top: auto; }

.margin-right-1 { margin-right: 1em; }
.margin-right-2 { margin-right: 1.5em; }
.margin-right-3 { margin-right: 2em; }
.margin-right-4 { margin-right: 2.5em; }
.margin-right-5 { margin-right: 3em; }
.margin-right-6 { margin-right: 3.5em; }
.margin-right-7 { margin-right: 4em; }
.margin-right-8 { margin-right: 4.5em; }
.margin-right-9 { margin-right: 5em; }
.margin-right-auto { margin-right: auto; }

.margin-bottom-1 { margin-bottom: 1em; }
.margin-bottom-2 { margin-bottom: 1.5em; }
.margin-bottom-3 { margin-bottom: 2em; }
.margin-bottom-4 { margin-bottom: 2.5em; }
.margin-bottom-5 { margin-bottom: 3em; }
.margin-bottom-6 { margin-bottom: 3.5em; }
.margin-bottom-7 { margin-bottom: 4em; }
.margin-bottom-8 { margin-bottom: 4.5em; }
.margin-bottom-9 { margin-bottom: 5em; }
.margin-bottom-auto { margin-bottom: auto; }

.margin-left-1 { margin-left: 1em; }
.margin-left-2 { margin-left: 1.5em; }
.margin-left-3 { margin-left: 2em; }
.margin-left-4 { margin-left: 2.5em; }
.margin-left-5 { margin-left: 3em; }
.margin-left-6 { margin-left: 3.5em; }
.margin-left-7 { margin-left: 4em; }
.margin-left-8 { margin-left: 4.5em; }
.margin-left-9 { margin-left: 5em; }
.margin-left-auto { margin-left: auto; }

// Padding
.padding-1 { padding: 1em; }
.padding-2 { padding: 1.5em; }
.padding-3 { padding: 2em; }
.padding-4 { padding: 2.5em; }
.padding-5 { padding: 3em; }
.padding-6 { padding: 3.5em; }
.padding-7 { padding: 4em; }
.padding-8 { padding: 4.5em; }
.padding-9 { padding: 5em; }
.padding-auto { padding: auto; }

.padding-top-1 { padding-top: 1em; }
.padding-top-2 { padding-top: 1.5em; }
.padding-top-3 { padding-top: 2em; }
.padding-top-4 { padding-top: 2.5em; }
.padding-top-5 { padding-top: 3em; }
.padding-top-6 { padding-top: 3.5em; }
.padding-top-7 { padding-top: 4em; }
.padding-top-8 { padding-top: 4.5em; }
.padding-top-9 { padding-top: 5em; }
.padding-top-auto { padding-top: auto; }

.padding-right-1 { padding-right: 1em; }
.padding-right-2 { padding-right: 1.5em; }
.padding-right-3 { padding-right: 2em; }
.padding-right-4 { padding-right: 2.5em; }
.padding-right-5 { padding-right: 3em; }
.padding-right-6 { padding-right: 3.5em; }
.padding-right-7 { padding-right: 4em; }
.padding-right-8 { padding-right: 4.5em; }
.padding-right-9 { padding-right: 5em; }
.padding-right-auto { padding-right: auto; }

.padding-bottom-1 { padding-bottom: 1em; }
.padding-bottom-2 { padding-bottom: 1.5em; }
.padding-bottom-3 { padding-bottom: 2em; }
.padding-bottom-4 { padding-bottom: 2.5em; }
.padding-bottom-5 { padding-bottom: 3em; }
.padding-bottom-6 { padding-bottom: 3.5em; }
.padding-bottom-7 { padding-bottom: 4em; }
.padding-bottom-8 { padding-bottom: 4.5em; }
.padding-bottom-9 { padding-bottom: 5em; }
.padding-bottom-auto { padding-bottom: auto; }

.padding-left-1 { padding-left: 1em; }
.padding-left-2 { padding-left: 1.5em; }
.padding-left-3 { padding-left: 2em; }
.padding-left-4 { padding-left: 2.5em; }
.padding-left-5 { padding-left: 3em; }
.padding-left-6 { padding-left: 3.5em; }
.padding-left-7 { padding-left: 4em; }
.padding-left-8 { padding-left: 4.5em; }
.padding-left-9 { padding-left: 5em; }
.padding-left-auto { padding-left: auto; }

// Sizes
.width-full { width: 100%; }
.width-half { width: 50%; }
.width-1-quarter { width: 25%; }
.width-3-quarter { width: 75%; }
.width-1 { width: 4em; }
.width-2 { width: 8em; }
.width-3 { width: 12em; }
.width-4 { width: 16em; }
.width-5 { width: 20em; }
.width-6 { width: 24em; }
.width-7 { width: 32em; }

.height-full { height: 100vh; }
.height-1 { height: 4em; }
.height-2 { height: 8em; }
.height-3 { height: 12em; }
.height-4 { height: 16em; }
.height-5 { height: 20em; }
.height-6 { height: 24em; }
.height-7 { height: 32em; }

.min-height-1 { min-height: 4em; }
.min-height-2 { min-height: 8em; }
.min-height-3 { min-height: 12em; }
.min-height-4 { min-height: 16em; }
.min-height-5 { min-height: 20em; }
.min-height-6 { min-height: 24em; }
.min-height-7 { min-height: 32em; }

// Border-Radius
.border-radius-none { border-radius: $border-radius-none; }
.border-radius-1 { border-radius: $border-radius-level-1; }
.border-radius-2 { border-radius: $border-radius-level-2; }
.border-radius-3 { border-radius: $border-radius-level-3; }
.border-radius-4 { border-radius: $border-radius-level-4; }
.border-radius-5 { border-radius: $border-radius-level-5; }
.border-radius-6 { border-radius: $border-radius-level-6; }

