* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

p, a, h1, h4, h5, h6 {
  font-size: 1rem;
  color: #363636;
}

.article h1 {
  font-size: 2rem;
  color: #363636;
}

.article h2 {
  font-size: 1.75rem;
  color: #363636;
}

.article h3 {
  font-size: 1.5rem;
  color: #363636;
}

.article h4 {
  font-size: 1rem;
  color: #363636;
}

.badge {
  width: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: whitesmoke;
  padding: 0.5em 0.75em;
  font-size: 0.75rem;
  color: #363636;
  border-radius: 8px;
  margin: 0.25em;
}

.badge.normal {
  font-size: 0.75rem;
}

.badge.medium {
  font-size: 1rem;
}

.badge.large {
  font-size: 1.25rem;
}

.badge.black {
  background-color: #0a0a0a;
  color: white;
}

.badge.dark {
  background-color: #363636;
  color: white;
}

.badge.light {
  background-color: whitesmoke;
  color: #363636;
}

.badge.white {
  background-color: white;
  color: #363636;
}

.badge.primary {
  background-color: #00d1b2;
  color: white;
}

.badge.link {
  background-color: #3273dc;
  color: white;
}

.badge.info {
  background-color: #209cee;
  color: white;
}

.badge.success {
  background-color: #48c774;
  color: white;
}

.badge.warning {
  background-color: #ffdd57;
  color: #4a4a4a;
}

.badge.danger {
  background-color: #ff3860;
  color: white;
}

.input, .textarea {
  width: 100%;
  height: 4em;
  outline: none;
  border: 2px solid #dbdbdb;
  border-radius: 8px;
  padding-left: 0.75em;
  color: #7a7a7a;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition: 50ms all;
  transition: 50ms all;
}

.input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
}

.input:-ms-input-placeholder, .textarea:-ms-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
}

.input::-ms-input-placeholder, .textarea::-ms-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
}

.input::placeholder, .textarea::placeholder {
  font-family: Arial, Helvetica, sans-serif;
}

.input:hover, .textarea:hover {
  border: 2px solid #b5b5b5;
}

.input:focus, .textarea:focus {
  border: 2px solid #b5b5b5;
  outline: 2px solid #00d1b2;
}

.input.small, .textarea.small {
  height: 2em;
  font-size: 0.75rem;
  border-radius: 4px;
}

.input.normal, .textarea.normal {
  height: 4em;
  font-size: 1rem;
  border-radius: 8px;
}

.input.large, .textarea.large {
  height: 4.25em;
  font-size: 1.25rem;
  border-radius: 14px;
}

.textarea {
  min-height: 4em;
  height: 12em;
  padding-top: 1em;
  resize: vertical;
  font-size: 1rem;
}

.textarea.small {
  min-height: 2em;
  height: 6em;
  font-size: 0.75rem;
}

.textarea.normal {
  min-height: 4em;
  height: 12em;
  font-size: 1rem;
}

.textarea.large {
  min-height: 4.25em;
  height: 16em;
  font-size: 1.25rem;
}

.textarea.resize-none {
  resize: none;
}

.textarea.resize-horizontal {
  resize: horizontal;
}

.textarea.resize-vertical {
  resize: vertical;
}

.checkbox {
  width: 1.5em;
  height: 1.5em;
}

.button {
  width: 100%;
  height: 4em;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: #00d1b2;
  color: white;
  font-size: 1rem;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.button:hover, .button:focus {
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
}

.button.small {
  height: 2em;
  font-size: 0.75rem;
  border-radius: 4px;
}

.button.normal {
  height: 4em;
  font-size: 1rem;
  border-radius: 8px;
}

.button.large {
  height: 4.25em;
  font-size: 1.25rem;
  border-radius: 14px;
}

.button.primary {
  background-color: #00d1b2;
}

.button.link {
  background-color: #3273dc;
}

.button.info {
  background-color: #209cee;
}

.button.success {
  background-color: #48c774;
}

.button.warning {
  background-color: #ffdd57;
  color: #4a4a4a;
}

.button.danger {
  background-color: #ff3860;
}

.button.white {
  background-color: white;
  color: #363636;
}

.button.light {
  background-color: whitesmoke;
  color: #4a4a4a;
}

.button.dark {
  background-color: #363636;
}

.button.black {
  background-color: #0a0a0a;
}

.progress {
  width: 100%;
  height: 1em;
  background-color: whitesmoke;
  border-radius: 16px;
}

.progress .bar {
  height: 100%;
  background-color: #7a7a7a;
  border-radius: 16px;
}

.progress .bar.primary {
  background-color: #00d1b2;
}

.progress .bar.link {
  background-color: #3273dc;
}

.progress .bar.info {
  background-color: #209cee;
}

.progress .bar.success {
  background-color: #48c774;
}

.progress .bar.warning {
  background-color: #ffdd57;
}

.progress .bar.danger {
  background-color: #ff3860;
}

.progress .bar.dark {
  background-color: #363636;
}

.progress .bar.black {
  background-color: #0a0a0a;
}

.size-1 {
  font-size: 3rem;
}

.size-2 {
  font-size: 2.5rem;
}

.size-3 {
  font-size: 2rem;
}

.size-4 {
  font-size: 1.5rem;
}

.size-5 {
  font-size: 1.25rem;
}

.size-6 {
  font-size: 1rem;
}

.size-7 {
  font-size: 0.75rem;
}

.w-light {
  font-weight: 300;
}

.w-normal {
  font-weight: 400;
}

.w-medium {
  font-weight: 500;
}

.w-semi-bold {
  font-weight: 600;
}

.w-bold {
  font-weight: 700;
}

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  text-transform: italic;
}

.underline {
  text-decoration: underline;
}

.justify {
  text-align: justify;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.color-primary {
  color: #00d1b2;
}

.color-link {
  color: #3273dc;
}

.color-info {
  color: #209cee;
}

.color-success {
  color: #48c774;
}

.color-warning {
  color: #ffdd57;
}

.color-danger {
  color: #ff3860;
}

.color-white {
  color: white;
}

.color-white-ter {
  color: whitesmoke;
}

.color-grey-lighter {
  color: #dbdbdb;
}

.color-grey-light {
  color: #b5b5b5;
}

.color-grey {
  color: #7a7a7a;
}

.color-grey-dark {
  color: #4a4a4a;
}

.color-grey-darker {
  color: #363636;
}

.color-black-ter {
  color: #242424;
}

.color-black {
  color: #0a0a0a;
}

.bg-color-white {
  background-color: white;
}

.bg-color-black {
  background-color: #0a0a0a;
}

.bg-color-primary {
  background-color: #00d1b2;
}

.bg-color-link {
  background-color: #3273dc;
}

.bg-color-info {
  background-color: #209cee;
}

.bg-color-success {
  background-color: #48c774;
}

.bg-color-warning {
  background-color: #ffdd57;
}

.bg-color-danger {
  background-color: #ff3860;
}

.bg-color-white {
  background-color: white;
}

.bg-color-white-ter {
  background-color: whitesmoke;
}

.bg-color-grey-lighter {
  background-color: #dbdbdb;
}

.bg-color-grey-light {
  background-color: #b5b5b5;
}

.bg-color-grey {
  background-color: #7a7a7a;
}

.bg-color-grey-dark {
  background-color: #4a4a4a;
}

.bg-color-grey-darker {
  background-color: #363636;
}

.bg-color-black-ter {
  background-color: #242424;
}

.bg-color-black {
  background-color: #0a0a0a;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.flex-justify-flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-justify-flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-justify-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-justify-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.flex-justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.flex-justify-left {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.flex-justify-right {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.flex-align-flex-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-align-flex-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-align-space-between {
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.flex-align-space-around {
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

.flex-align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.flex-align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.flex-align-strech {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.flex-align-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.flex-content-strech {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.flex-content-flex-start {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.flex-content-flex-end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.flex-content-center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.flex-content-baseline {
  -ms-flex-line-pack: baseline;
      align-content: baseline;
}

.flex-align-self-auto {
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}

.flex-align-self-flex-start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.flex-align-self-flex-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.flex-align-self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.flex-align-self-baseline {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.flex-align-self-stretch {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.flex-grow-0 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.flex-grow-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flex-grow-2 {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.flex-grow-3 {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.flex-grow-4 {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

.flex-grow-5 {
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
}

.flex-shrink-0 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.flex-shrink-1 {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.flex-shrink-2 {
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

.flex-shrink-3 {
  -ms-flex-negative: 3;
      flex-shrink: 3;
}

.flex-shrink-4 {
  -ms-flex-negative: 4;
      flex-shrink: 4;
}

.flex-shrink-5 {
  -ms-flex-negative: 5;
      flex-shrink: 5;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline;
}

.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.none {
  display: none;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 1em;
}

.m-2 {
  margin: 1.5em;
}

.m-3 {
  margin: 2em;
}

.m-4 {
  margin: 2.5em;
}

.m-5 {
  margin: 3em;
}

.m-6 {
  margin: 3.5em;
}

.m-7 {
  margin: 4em;
}

.m-8 {
  margin: 4.5em;
}

.m-9 {
  margin: 5em;
}

.m-auto {
  margin: auto;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 1.5em;
}

.mt-3 {
  margin-top: 2em;
}

.mt-4 {
  margin-top: 2.5em;
}

.mt-5 {
  margin-top: 3em;
}

.mt-6 {
  margin-top: 3.5em;
}

.mt-7 {
  margin-top: 4em;
}

.mt-8 {
  margin-top: 4.5em;
}

.mt-9 {
  margin-top: 5em;
}

.mt-auto {
  margin-top: auto;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 1em;
}

.mr-2 {
  margin-right: 1.5em;
}

.mr-3 {
  margin-right: 2em;
}

.mr-4 {
  margin-right: 2.5em;
}

.mr-5 {
  margin-right: 3em;
}

.mr-6 {
  margin-right: 3.5em;
}

.mr-7 {
  margin-right: 4em;
}

.mr-8 {
  margin-right: 4.5em;
}

.mr-9 {
  margin-right: 5em;
}

.mr-auto {
  margin-right: auto;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 1.5em;
}

.mb-3 {
  margin-bottom: 2em;
}

.mb-4 {
  margin-bottom: 2.5em;
}

.mb-5 {
  margin-bottom: 3em;
}

.mb-6 {
  margin-bottom: 3.5em;
}

.mb-7 {
  margin-bottom: 4em;
}

.mb-8 {
  margin-bottom: 4.5em;
}

.mb-9 {
  margin-bottom: 5em;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 1em;
}

.ml-2 {
  margin-left: 1.5em;
}

.ml-3 {
  margin-left: 2em;
}

.ml-4 {
  margin-left: 2.5em;
}

.ml-5 {
  margin-left: 3em;
}

.ml-6 {
  margin-left: 3.5em;
}

.ml-7 {
  margin-left: 4em;
}

.ml-8 {
  margin-left: 4.5em;
}

.ml-9 {
  margin-left: 5em;
}

.ml-auto {
  margin-left: auto;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1em;
}

.p-2 {
  padding: 1.5em;
}

.p-3 {
  padding: 2em;
}

.p-4 {
  padding: 2.5em;
}

.p-5 {
  padding: 3em;
}

.p-6 {
  padding: 3.5em;
}

.p-7 {
  padding: 4em;
}

.p-8 {
  padding: 4.5em;
}

.p-9 {
  padding: 5em;
}

.p-auto {
  padding: auto;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 1em;
}

.pt-2 {
  padding-top: 1.5em;
}

.pt-3 {
  padding-top: 2em;
}

.pt-4 {
  padding-top: 2.5em;
}

.pt-5 {
  padding-top: 3em;
}

.pt-6 {
  padding-top: 3.5em;
}

.pt-7 {
  padding-top: 4em;
}

.pt-8 {
  padding-top: 4.5em;
}

.pt-9 {
  padding-top: 5em;
}

.pt-auto {
  padding-top: auto;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 1em;
}

.pr-2 {
  padding-right: 1.5em;
}

.pr-3 {
  padding-right: 2em;
}

.pr-4 {
  padding-right: 2.5em;
}

.pr-5 {
  padding-right: 3em;
}

.pr-6 {
  padding-right: 3.5em;
}

.pr-7 {
  padding-right: 4em;
}

.pr-8 {
  padding-right: 4.5em;
}

.pr-9 {
  padding-right: 5em;
}

.pr-auto {
  padding-right: auto;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 1em;
}

.pb-2 {
  padding-bottom: 1.5em;
}

.pb-3 {
  padding-bottom: 2em;
}

.pb-4 {
  padding-bottom: 2.5em;
}

.pb-5 {
  padding-bottom: 3em;
}

.pb-6 {
  padding-bottom: 3.5em;
}

.pb-7 {
  padding-bottom: 4em;
}

.pb-8 {
  padding-bottom: 4.5em;
}

.pb-9 {
  padding-bottom: 5em;
}

.pb-auto {
  padding-bottom: auto;
}

.pl-0 {
  padding-left: 0em;
}

.pl-1 {
  padding-left: 1em;
}

.pl-2 {
  padding-left: 1.5em;
}

.pl-3 {
  padding-left: 2em;
}

.pl-4 {
  padding-left: 2.5em;
}

.pl-5 {
  padding-left: 3em;
}

.pl-6 {
  padding-left: 3.5em;
}

.pl-7 {
  padding-left: 4em;
}

.pl-8 {
  padding-left: 4.5em;
}

.pl-9 {
  padding-left: 5em;
}

.pl-auto {
  padding-left: auto;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.w-1-quarter {
  width: 25%;
}

.w-3-quarter {
  width: 75%;
}

.w-1 {
  width: 4em;
}

.w-2 {
  width: 8em;
}

.w-3 {
  width: 12em;
}

.w-4 {
  width: 16em;
}

.w-5 {
  width: 20em;
}

.w-6 {
  width: 24em;
}

.w-7 {
  width: 32em;
}

.h-full {
  height: 100vh;
}

.h-1 {
  height: 4em;
}

.h-2 {
  height: 8em;
}

.h-3 {
  height: 12em;
}

.h-4 {
  height: 16em;
}

.h-5 {
  height: 20em;
}

.h-6 {
  height: 24em;
}

.h-7 {
  height: 32em;
}

.mh-1 {
  min-height: 4em;
}

.mh-2 {
  min-height: 8em;
}

.mh-3 {
  min-height: 12em;
}

.mh-4 {
  min-height: 16em;
}

.mh-5 {
  min-height: 20em;
}

.mh-6 {
  min-height: 24em;
}

.mh-7 {
  min-height: 32em;
}

.border-radius-none {
  border-radius: 0;
}

.border-radius-1 {
  border-radius: 4px;
}

.border-radius-2 {
  border-radius: 8px;
}

.border-radius-3 {
  border-radius: 14px;
}

.border-radius-4 {
  border-radius: 16px;
}

.border-radius-5 {
  border-radius: 50%;
}

.border-radius-6 {
  border-radius: 100%;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}

.z-index-5 {
  z-index: 4;
}

.z-index-6 {
  z-index: 5;
}

.z-index-7 {
  z-index: 6;
}

.z-index-8 {
  z-index: 7;
}

.z-index-9 {
  z-index: 8;
}
