@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

p, a, h1, h4, h5, h6 {
  font-size: 1rem;
  color: #363636;
}

.size-1 {
  font-size: 3rem;
}

.size-2 {
  font-size: 2.5rem;
}

.size-3 {
  font-size: 2rem;
}

.size-4 {
  font-size: 1.5rem;
}

.size-5 {
  font-size: 1.25rem;
}

.size-6 {
  font-size: 1rem;
}

.size-7 {
  font-size: 0.75rem;
}

.weight-light {
  font-weight: 300;
}

.weight-normal {
  font-weight: 400;
}

.weight-medium {
  font-weight: 500;
}

.weight-semi-bold {
  font-weight: 600;
}

.weight-bold {
  font-weight: 700;
}

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  text-transform: italic;
}

.underline {
  text-decoration: underline;
}

.justify {
  text-align: justify;
}

.align-centered {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.color-white {
  color: white;
}

.color-black {
  color: #0a0a0a;
}

.color-primary {
  color: #00d1b2;
}

.color-link {
  color: #3273dc;
}

.color-info {
  color: #209cee;
}

.color-success {
  color: #48c774;
}

.color-warning {
  color: #ffdd57;
}

.color-danger {
  color: #ff3860;
}

.bg-color-white {
  background-color: white;
}

.bg-color-black {
  background-color: #0a0a0a;
}

.bg-color-primary {
  background-color: #00d1b2;
}

.bg-color-link {
  background-color: #3273dc;
}

.bg-color-info {
  background-color: #209cee;
}

.bg-color-success {
  background-color: #48c774;
}

.bg-color-warning {
  background-color: #ffdd57;
}

.bg-color-danger {
  background-color: #ff3860;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.flex-justify-flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-justify-flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-justify-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-justify-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.flex-justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.flex-justify-left {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.flex-justify-right {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.flex-align-flex-start {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.flex-align-flex-end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.flex-align-center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.flex-align-space-between {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.flex-align-space-around {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.flex-align-start {
  -ms-flex-line-pack: start;
      align-content: start;
}

.flex-align-end {
  -ms-flex-line-pack: end;
      align-content: end;
}

.flex-align-strech {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.flex-align-baseline {
  -ms-flex-line-pack: baseline;
      align-content: baseline;
}

.flex-items-strech {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.flex-items-flex-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-items-flex-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-items-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.flex-align-self-auto {
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}

.flex-align-self-flex-start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.flex-align-self-flex-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.flex-align-self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.flex-align-self-baseline {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.flex-align-self-stretch {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.flex-grow-0 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.flex-grow-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flex-grow-2 {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.flex-grow-3 {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.flex-grow-4 {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

.flex-grow-5 {
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
}

.flex-shrink-0 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.flex-shrink-1 {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.flex-shrink-2 {
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

.flex-shrink-3 {
  -ms-flex-negative: 3;
      flex-shrink: 3;
}

.flex-shrink-4 {
  -ms-flex-negative: 4;
      flex-shrink: 4;
}

.flex-shrink-5 {
  -ms-flex-negative: 5;
      flex-shrink: 5;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline;
}

.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.none {
  display: none;
}

.margin-1 {
  margin: 1em;
}

.margin-2 {
  margin: 1.5em;
}

.margin-3 {
  margin: 2em;
}

.margin-4 {
  margin: 2.5em;
}

.margin-5 {
  margin: 3em;
}

.margin-6 {
  margin: 3.5em;
}

.margin-7 {
  margin: 4em;
}

.margin-8 {
  margin: 4.5em;
}

.margin-9 {
  margin: 5em;
}

.margin-top-1 {
  margin-top: 1em;
}

.margin-top-2 {
  margin-top: 1.5em;
}

.margin-top-3 {
  margin-top: 2em;
}

.margin-top-4 {
  margin-top: 2.5em;
}

.margin-top-5 {
  margin-top: 3em;
}

.margin-top-6 {
  margin-top: 3.5em;
}

.margin-top-7 {
  margin-top: 4em;
}

.margin-top-8 {
  margin-top: 4.5em;
}

.margin-top-9 {
  margin-top: 5em;
}

.margin-right-1 {
  margin-right: 1em;
}

.margin-right-2 {
  margin-right: 1.5em;
}

.margin-right-3 {
  margin-right: 2em;
}

.margin-right-4 {
  margin-right: 2.5em;
}

.margin-right-5 {
  margin-right: 3em;
}

.margin-right-6 {
  margin-right: 3.5em;
}

.margin-right-7 {
  margin-right: 4em;
}

.margin-right-8 {
  margin-right: 4.5em;
}

.margin-right-9 {
  margin-right: 5em;
}

.margin-bottom-1 {
  margin-bottom: 1em;
}

.margin-bottom-2 {
  margin-bottom: 1.5em;
}

.margin-bottom-3 {
  margin-bottom: 2em;
}

.margin-bottom-4 {
  margin-bottom: 2.5em;
}

.margin-bottom-5 {
  margin-bottom: 3em;
}

.margin-bottom-6 {
  margin-bottom: 3.5em;
}

.margin-bottom-7 {
  margin-bottom: 4em;
}

.margin-bottom-8 {
  margin-bottom: 4.5em;
}

.margin-bottom-9 {
  margin-bottom: 5em;
}

.margin-left-1 {
  margin-left: 1em;
}

.margin-left-2 {
  margin-left: 1.5em;
}

.margin-left-3 {
  margin-left: 2em;
}

.margin-left-4 {
  margin-left: 2.5em;
}

.margin-left-5 {
  margin-left: 3em;
}

.margin-left-6 {
  margin-left: 3.5em;
}

.margin-left-7 {
  margin-left: 4em;
}

.margin-left-8 {
  margin-left: 4.5em;
}

.margin-left-9 {
  margin-left: 5em;
}

input, textarea {
  width: 100%;
  height: 4em;
  outline: none;
  border: 2px solid #b5b5b5;
  border-radius: 8px;
  padding-left: 0.75em;
  color: #4a4a4a;
}

.width-half {
  width: 50%;
}
